.main__news-name, .main__news-second-name, .main__news-text, .main__name {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #FCE2D1;
    text-decoration: none;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    flex-wrap: wrap;
    width: 49.3473vw;
    background-color: #314955;
    border-radius: 2px;
}
.main__name {
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    justify-content: center;
    margin: 0px;
}
.main__letters {
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    flex-wrap: wrap;
}
.main__letter-a, .main__letter-b, .main__a, .main__b {
    width: 160px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 65px;
    text-align: center;
    color: #FCE2D1;
}
.main__button-content {
    background-color: #314955;
    border: none;
    border-radius: 2px;
    border: 4px solid #CA3A39;
    width: 236px;
    height: 50px;
    color: #FCE2D1;
    margin: 0px 0px 20px 0px;
}
@media screen and (max-width: 724px) {
    .main{
        width: 100%;
    }

}
